@use '../../../src/variables.scss' as vars;

.countdown-container {
	h1 {
		font-family: "Roboto Mono", serif, Arial, sans-serif;
		color: vars.$secondary-bg !important;
		max-width: 100%;
	}

	&.animated-countdown {
		animation: slideInFromRight 3s ease-out;
		max-width: 100%;
	}

	.countdown-cube {
		border: vars.$turq-light dotted 3px;
		padding: 1.5rem;
		margin: 0.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& p {
			margin: 0;
			font-weight: bolder;
			color: vars.$secondary-bg;
		}

		&.days {
			width: 13rem;
			height: 13rem;

			& .number {
				font-size: 5rem;
			}
		}

		&.hours {
			width: 11rem;
			height: 11rem;

			& .number {
				font-size: 4rem;
			}
		}

		&.minutes {
			width: 9rem;
			height: 9rem;

			& .number {
				font-size: 2rem;
			}
		}

		&.seconds {
			width: 7rem;
			height: 7rem;

			& .number {
				font-size: 1rem;
			}
		}
	}
}

@keyframes slideInFromRight {
	from {
		transform: translateX(500px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes moveGradient {
	50% {
		background-position: 100% 50%;
	}
}

/* Large Tablets (992px and below) */
@media (max-width: 992px) {
	.countdown-container {
		h1 {
			font-size: 3rem;
		}

		h4 {
			font-size: 1.25rem;
		}
	}

	.gradient-border {
		padding: 2rem;
	}

}

/* Tablets & Small Laptops (768px and below) */
@media (max-width: 768px) {
	.countdown-container {
		h1 {
			font-size: 2.5rem;
			flex-wrap: nowrap;
		}

		h4 {
			font-size: 1rem;
		}
	}

	.gradient-border {
		padding: 1.5rem;
	}
}

/* Mobile Devices (576px and below) */
@media (max-width: 576px) {
	.countdown-container {
		h1 {
			font-size: 2rem;
		}

		h4 {
			font-size: 0.75rem;
		}
	}

	.gradient-border {
		padding: 1rem;
	}
}

/* Extra Small Screens (400px and below) */
@media (max-width: 400px) {
	.countdown-container {
		h1 {
			font-size: 1rem;
		}
	}
}
