.details-heading {
	font-size: 4rem !important;
	margin-top: 2rem !important;
	margin-bottom: 2rem;

	&.animated-text {
		animation: slideInFromLeft 1s ease-out;
		display: inline-block;
		max-width: 100%;
	}
}

@keyframes slideInFromLeft {
	from {
		transform: translateX(-500px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

/* Desktops (1200px and below) */
@media (max-width: 1200px) {
	.animated-text {
		font-size: 2.5rem !important;
	}
}

/* Large Tablets (992px and below) */
@media (max-width: 992px) {
	.animated-text {
		font-size: 2rem !important;
	}
}

/* Tablets & Small Laptops (768px and below) */
@media (max-width: 768px) {
	.animated-text {
		font-size: 2rem !important;
	}
}

/* Mobile Devices (576px and below) */
@media (max-width: 576px) {
	.animated-text {
		font-size: 1.5rem !important;
	}
}

/* Extra Small Screens (400px and below) */
@media (max-width: 400px) {
	.animated-text {
		font-size: 1rem !important;
	}
}
