@use '../../../variables.scss' as vars;

.countdown-container {
	&.animated-countdown {
		animation: slideInFromRight 3s ease-out;
		max-width: 100%;
	}

	.countdown-cube {
		border: vars.$turq-light dotted 3px;
		padding: 1.5rem;
		margin: 0.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& p {
			margin: 0;
			font-weight: bolder;
			color: vars.$secondary-bg;
			font-family: "Roboto Mono", serif, Arial, sans-serif;
		}

		&.days {
			width: 13rem;
			height: 13rem;

			& .number {
				font-size: 5rem;
			}

			& .time {
				font-size: 2rem;
			}
		}

		&.hours {
			width: 11rem;
			height: 11rem;

			& .number {
				font-size: 4rem;
			}

			& .time {
				font-size: 1.5rem;
			}
		}

		&.minutes {
			width: 9rem;
			height: 9rem;

			& .number {
				font-size: 2rem;
			}

			& .time {
				font-size: 1rem;
			}
		}

		&.seconds {
			width: 7rem;
			height: 7rem;

			& .number {
				font-size: 1rem;
			}

			& .time {
				font-size: 1rem;
			}
		}
	}
}

.countdown-container-mobile {
	.countdown-circle {
		padding: 1.5rem;
		margin: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		animation: 	glow 1.5s infinite alternate ease-in-out;

		& p {
			margin: 0;
			font-weight: bolder;
			color: vars.$secondary-bg;
			font-family: "Roboto Mono", serif, Arial, sans-serif;
		}

		&.days {
			width: 7.5rem;
			height: 7.5rem;
			& .number {
				font-size: 2rem;
			}

			& .time {
				font-size: 1rem;
			}
		}

		&.hours {
			width: 6rem;
			height: 6rem;
			& .number {
				font-size: 1.75rem;
			}

			& .time {
				font-size: 1rem;
			}
		}

		&.minutes {
			width: 5rem;
			height: 5rem;

			& .number {
				font-size: 1.5rem;
			}

			& .time {
				font-size: 0.75rem;
			}
		}

		&.seconds {
			width: 4rem;
			height: 4rem;
			& .number {
				font-size: 1.25rem;
			}

			& .time {
				font-size: 0.75rem;
			}
		}
	}
}

@keyframes slideInFromRight {
	from {
		transform: translateX(500px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes glow {
	0%, 100% {
		box-shadow: 0 0 5px vars.$turq-light;
	}
	50% {
		box-shadow: 0 0 15px vars.$turq-light;
	}
}
