@use '../../../variables.scss' as vars;

.wavy-heading-container text {
	font-size: 3.5rem;
	fill: vars.$white;
	text-shadow: 
		0 0 10px rgba(0, 255, 255, 0.8),
		0 0 20px rgba(0, 255, 255, 0.6),
		0 0 30px rgba(0, 255, 255, 0.4);
	font-weight: bold;
	font-family: "Libre Baskerville", serif;
	transition: text-shadow 0.3s ease-in-out;
}

.wavy-heading-container text:hover {
	text-shadow: 	
		0 0 15px rgba(0, 255, 255, 1), 
		0 0 30px rgba(0, 255, 255, 0.9),
		0 0 45px rgba(0, 255, 255, 0.7);
}

.mobile-text {
	display: none;
}

/* Large Tablets (992px and below) */
@media (max-width: 992px) {
	.desktop-text {
		display: none;
	}

	.mobile-text {
		display: block;
	}

}

/* Tablets & Small Laptops (768px and below) */
@media (max-width: 768px) {
	.wavy-heading-container text {
		font-size: 5rem;
		line-height: 2;
	}
}
