@use '../../../src/variables.scss' as vars;

.faq-container {
	h1 {
		color: vars.$turq-dark-dark;
	}
}


.btn-wrapper {
	.span-container {
		display: block;
		width: 200px;
		height: 40px;
		line-height: 40px;
		font-size: 18px;
		font-family: sans-serif;
		text-decoration: none;
		color: vars.$text-font;
		border: 1px solid black;
		letter-spacing: 2px;
		text-align: center;
		position: relative;
		transition: all .35s;
		cursor: pointer;
	}

	.span-container span {
		position: relative;
		z-index: 2;
	}

	.span-container:after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: vars.$secondary-bg;
		transition: all .35s;
	}

	.span-container:hover{
		color: vars.$text-font;
	}

	.span-container:hover:after{
		width: 100%;
	}
}
