@use '../../../src/variables.scss' as vars;

.faq-container {
	h1 {
		color: vars.$turq-dark-dark;
	}

	.accordion-button:not(.collapsed) {
		color: vars.$turq-dark-dark;
		background-color: vars.$yellow;
		box-shadow: none;
	}

	.accordion-button.collapsed {
		color: vars.$turq-dark;
		background-color: vars.$yellow;
		box-shadow: none;
	}

	.accordion-body {
		color: vars.$turq-dark-dark;
		background-image: url('../../assets/svgs/collapse-bg.svg');
	}
}
