@use '../../../src/variables.scss' as vars;

.welcome-container {
	width: 100%;

	.rsvp-btn{
		margin-top: 5rem;
		padding: 1rem;
		width: 20rem;
		border-radius: 3rem;
		background-color: vars.$primary-bg;
		border: none;
		font-weight: 700;
		font-size: 30px;
		font-family: vars.$accent-font !important;
		
		&:hover {
			border: vars.$turq-dark 4px solid;
		}
	}
}

.welcome-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-image: url('../../assets/images/prague.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.5;
	z-index: -1;
}

.sam-adrian {
	font-family: "Playfair Display", serif, Arial, Helvetica, sans-serif;
	font-size: 11rem;
	padding-top: 7rem;
}
