@use '../../../src/variables.scss' as vars;

.travel-container {
	color: vars.$turq-dark-dark;
	p, h3 {
		color: vars.$turq-dark-dark;
	}

	.hoods-container {
		.hoods-title  {
			color: vars.$turq-dark-dark;
		}
		p, h3 {
			color: vars.$white;
		}
	}

	.round-title {
		border: none;
		color: #164443;
		background-color: vars.$white;
		height: 8rem;
		width: 8rem;
		border-radius: 50%;

		&:hover {
			background-color: vars.$turq-light-light;
			color: vars.$white;
		}

		&.active-btn {
			background-color: vars.$turq-light-light;
			color: vars.$white;
		}

		&.inactive-btn {
			border: 2px solid vars.$turq-light-light;
		}
	}

	.prague-hoods {
		color: vars.$turq-dark-dark;
		font-weight: bolder;
		cursor: pointer;
		transition: transform 0.2s ease, color 0.2s ease;

		&:hover {
			transform: scale(1.2);
			color: vars.$turq-dark;
		}
	}

	.swiper-slide {
		height: auto; // Make all cards same height, regardless of content
	}

	.swiper-button-next:after, .swiper-button-prev:after {
		color: vars.$turq-light-light;
	}
}

.hood-btn {
	background-color: transparent;
	border: 1px solid vars.$turq-dark;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	z-index: 1;
	overflow: visible;
}

.hood-btn:hover,
.hood-btn:active {
	outline: 0;
}

.hood-btn:hover {
	background-color: transparent;
	cursor: pointer;
}

.hood-btn::before {
	background-color: vars.$secondary-bg;
	opacity: 0.6;
	content: "";
	height: calc(100% + 3px);
	position: absolute;
	right: -7px;
	top: -9px;
	transition: background-color 300ms ease-in;
	width: 100%;
	z-index: -1;
}

.hood-btn:hover::before {
	background-color: vars.$primary-bg;
	opacity: 0.6;
}

.accommodation-image {
	transition: transform 0.3s ease-in-out;
	&:hover {
		transform: scale(1.5);
	}
}

.travel-button-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		height: 30rem;
		width: 30rem;
		background: transparent;
		color: vars.$white;
		font-size: 3rem;
		font-weight: 600;
		border: none;
		cursor: pointer;
		border-radius: 0 2rem 0 2rem;
		margin: 1rem;
		border: vars.$primary-bg solid 0.5rem;
		position: relative;
		z-index: 0;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			z-index: -1; // Keeps it behind the text & border
		}

		// Overlay for opacity effect
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5); // Dark semi-transparent overlay
			z-index: -1;
		}

		&:hover {
			opacity: 0.8;
		}

		&.button-1::before {
			background-image: url('/assets/buttons/exploring.png');
			background-color: rgba(0, 0, 0, 0.3);
		}

		&.button-2::before {
			background-image: url('/assets/buttons/neighborhoods.png');
		}

		&.button-3::before {
			background-image: url('/assets/buttons/metro.png');
		}
	}
}

/* Large Tablets (992px and below) */
@media (max-width: 992px) {
	.hoods-container {
		padding-left: 0 !important;
		padding-right: 0 !important;

		.hoods-title-container {
			padding: 1rem
		}

		.hoods-swiper-container {
			padding: 0 !important;
		}
	}

	.travel-button-container button {
		width: 20rem;
		height: 20rem;
		aspect-ratio: 1 1;
		font-size: 1.5rem;
	}
}

/* Tablets & Small Laptops (768px and below) */
@media (max-width: 768px) {
	.hood-btn {
		padding: 16px 32px;
	}

	.travel-button-container button {
		width: 10rem !important;
		height: 10rem !important;
		aspect-ratio: 1 1;
		font-size: 1rem !important;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}

/* Mobile Devices (576px and below) */
@media (max-width: 576px) {
	.travel-button-container {
		flex-direction: column;
		button {
			width: 15rem;
			height: 15rem;
			aspect-ratio: 1 1;
			font-size: 1.5rem;
		}
	}

	.public-transport-row {
		max-height: 80vh;
		overflow-y: auto;
	}

	.public-transport-row::-webkit-scrollbar {
		background-color: vars.$turq-light-light;
		max-width: 0.5rem;
	}

	.public-transport-row::-webkit-scrollbar-thumb {
		background-color: vars.$primary-bg;
		height: 2rem !important;
	}

	.round-title {
		height: 5rem !important;
		width: 5rem !important;
	}
}
