@use '../../../src/variables.scss' as vars;

.navbar-container {
	& .nav-link {
		color: vars.$turq-dark;

		&:hover {
			color: vars.$turq-light;
			cursor: pointer;
		}
		
		&:active, &:focus {
			color: vars.$primary-bg;
		}
	}
}
