.button-55 {
	align-self: center;
	background-image: none;
	background-position: 0 90%;
	background-repeat: repeat no-repeat;
	border-radius: 1rem 8rem 9rem 1rem / 1rem 9rem 8rem 1rem;
	border-style: solid;
	border-width: 0.2rem;
	box-shadow: rgba(9, 194, 207, 0.6) 1rem 1.87rem 1.67rem -1.2rem;

	cursor: pointer;
	line-height: 0.5;
	outline: none;
	padding: .75rem;
	text-decoration: none;
	transition: all 235ms ease-in-out;
	border-bottom-left-radius: 1rem 17rem;
	border-bottom-right-radius: 15rem 1rem;
	border-top-left-radius: 17rem 1rem;
	border-top-right-radius: 1rem 15rem;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-55:hover {
	box-shadow: rgba(0, 0, 0, 0.3) 0.125rem 0.5rem 0.5rem -0.3125rem,
				#164443 0.125rem 0.5rem 0.5rem -0.3125rem;
	transform: translate3d(0, 0.125rem, 0);
}

.button-55:focus {
	box-shadow: rgba(0, 0, 0, 0.3) 0.125rem 0.5rem 0.25rem -0.375rem;
}