// Color palette #4329 from colorpalettes.net
$primary-bg: #FD9D30;
$secondary-bg: #FC712B;
$yellow: #FECD5A;
$turq-light: #07B1BC;
$turq-light-light: #09c2cf;
$turq-dark: #2B8180;
$turq-dark-dark: #164443;
$turq-dark-opaque: #2b8180a1;

$text-font: "Quicksand", serif, Arial, sans-serif;
$accent-font: "Libre Baskerville", serif, Arial, sans-serif;

// Libre Baskerville CSS classes
// .libre-baskerville-regular {
// 	font-family: "Libre Baskerville", serif;
// 	font-weight: 400;
// 	font-style: normal;
// }

// .libre-baskerville-bold {
// 	font-family: "Libre Baskerville", serif;
// 	font-weight: 700;
// 	font-style: normal;
// }

// .libre-baskerville-regular-italic {
// 	font-family: "Libre Baskerville", serif;
// 	font-weight: 400;
// 	font-style: italic;
// }

// Quicksand: CSS class for a variable style
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

// .quicksand-<uniquifier> {
// 	font-family: "Quicksand", serif;
// 	font-optical-sizing: auto;
// 	font-weight: <weight>;
// 	font-style: normal;
// }
